<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="left-col">
            <nav>
            <span><a title="主页" href="/">home</a></span>
            <span><a title="存档" href="/archive">archive</a></span>
            <%if(user){%>
            <span><a title="发表" href="/post">post</a></span>
            <span><a title="登出" href="/logout">logout</a></span>
            <span><a title="上传" href="/upload">upload</a></span>
            <%}else{%>
            <span><a title="登录" href="/login">login</a></span>
            <span><a title="注册" href="/reg">register</a></span>
            <span><a title="删除" href="/del">delete</a></span>
            <%}%>
            </nav>
        </div>
        <div class="mid-col">
            <div class="mid-col-container">
                <header>
                    <h1><%=title%></h1>
                </header>
                <article>
                    <%if(success){%>
                        <div><%=success%></div>
                    <%}%>
                    <%if(error){%>
                        <div><%=error%></div>
                    <%}%>
        
    
    
        