/*copy by fakerli 20160927*/
*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  background: #ddd;
  color: #666;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

.container {
  max-width: 1600px;
  min-height: 100%;
  position: relative;
}

.left-col{
  background-color: #007b8b;
  height: 100%;
  position: fixed;
  width: 270px;
}

.mid-col{
  background: #fff;
  left: 0;
  margin-left: 270px;
  position: absolute;
  right: 0;
  height: 100%;
}

.mid-col-container {
  min-height: calc(100vh - 7em);
}

p{
  line-height: 24px;
  margin: 1em 0;
}

header{
  margin: 2em auto;
  padding: .5em 40px;
  border-bottom: 1px solid #cccccc;
}

nav{
  font-family: "Microsoft YaHei";
  font-size: 1.1em;
  margin: 70px auto;
  text-transform: uppercase;
  width: 9em;
  text-align: center;
}

nav a{
  display: block;
  text-decoration: none;
  padding: .7em 1em;
  color: #000000;
}

nav a:hover{
  background-color: #ff0000;
  color: #f9f9f9;
  transition: color .2s linear;
}

article{
  font-size: 16px;
  padding-top: .5em;
  padding: 0 40px;
}

article a{
  color: #dd0000;
  text-decoration: none;
}

article a:hover{
  color: #333333;
  text-decoration: underline;
}

.info{
  font-size: 14px;
}


a {
  color: #00B7FF;
}
		
footer {
  display: block;
	padding: .5em calc(50% - 400px);
	background: linear-gradient(#222, #444);
	color: white;
	height: 6em;
}

.edit{
  margin: 3px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 13px;
}

.edit:hover{
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  transition: color .2s linear;
}

.prepage a{
  float: left;
  text-decoration: none;
  padding: .5em 1em;
  color: #ff0000;
  font-weight: bold;
}

.nextpage a{
  float: right;
  text-decoration: none;
  padding: .5em 1em;
  color: #ff0000;
  font-weight: bold;
}

.prepage a:hover, .nextpage a:hover{
  text-decoration: none;
  background-color: #ff0000;
  color: #f9f9f9;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.archive{
  list-style: none;
  line-height: 28px;
}

.archive h3{
  margin: 0.5em 0;
}

.archive time{
  float: left;
  font-size: 14px;
  color: #999999;
  margin-right: 1.2em;
}

.tag{
  background-color: #ff0000;
  border-radius: 3px;
  font-size: 14px;
  color:#ffffff;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 2px;
}

.tag:hover{
  text-decoration: none;
  background-clip: #ffffff;
  color: #000000;
  transition: color .2s linear;
}

.search{
  border: 0;
  width: 10em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}

.l_head{
  float: left;
  margin-left: -4em;
  box-shadow: 0px 1px 4px #888;
}

.r_head{
  float: right;
  margin-top: -2.5em;
  box-shadow: 0px 1px 4px #888;
}
